# Required
allowed_ip = "YOUR_IP_ADDRESS/32" # Replace with your public IP (curl -s https://checkip.amazonaws.com)

# Optional overrides (defaults shown)
# region        = "eu-west-1"
# project_name  = "platform-task"
# environment   = "dev"
# vpc_cidr      = "10.0.0.0/16"
# az_count      = 3
# instance_type = "t4g.micro"
